body {
    padding-top: 110px;
    /*  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. 
        navbar is 50 px, the rest is to add some additional space.
    */
}

/* Ensuring columns with same height */

@media (min-width: 750px) {
    .equal, .equal > div[class*='col-'] {  
        display: -webkit-flex;
        display: flex;
        flex:1 1 auto;
    }
}