<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
        <hr/>
        <p class="text-center small">Copyright the ATK Community, 2016.</p>
        
        <!--
        <h2 class="footer-heading">{{ site.title }}</h2>
        
        <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            <ul class="contact-list">
              <li>{{ site.title }}</li>
              <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            </ul>
          </div>
        
          <div class="footer-col footer-col-2">
            <ul class="social-media-list">
              {% if site.github_username %}
              <li>
                {% include icon-github.html username=site.github_username %}
              </li>
              {% endif %}
        
              {% if site.twitter_username %}
              <li>
                {% include icon-twitter.html username=site.twitter_username %}
              </li>
              {% endif %}
            </ul>
          </div>
        
          <div class="footer-col footer-col-3">
            <p>{{ site.description }}</p>
          </div>
        </div>
          -->

      </div> <!-- column -->
    </div> <!-- row -->
  </div> <!-- container -->

</footer>
  
<!-- While Bootstrap prefers jQuery to be loaded in the footer, fancyBox requires it to be loaded in the header -->

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>